.wrapper {
    width: 500px;
    margin: 0 auto;
    padding: 15px;
}


.my-warning{
    font-size: 20px;
}

.my-success::after { /* Свой собственный символ успешной валидации поля на форме*/
    content: '✓';
    margin-left: 10px;
    padding: 2px;
    border-radius: 50%;
    color: #ffffff;
    background-color: green;
}
.my-error::after { /* Свой собственный символ ошибочной валидации поля на форме*/
    content: 'ǃ';
    margin-left: 10px;
    padding: 2px 5px 0 5px;
    border-radius: 50% 50% 50% 50%;
    color: #ffffff;
    background-color: rgb(167, 54, 54);
}

.fa-red {
    color: rgb(167, 54, 54);
}

.fa-green {
    color: green;
}

.content{
    height: 250px;
    overflow: auto;
}



